:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.dark {
    --bg: #0f172a;
    --textColor: #ddd;
    --softBg: #1f273a;
    -softTextColor: #a6a6a6;
}

.light {
    -bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    -softTextColor: #626262;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blueviolet; */
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width: 936px) {
    .wrapper {
        max-width: 736px;
    }
}

@media screen and (max-width: 536px) {
    .wrapper {
        max-width: 406px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.ql-container {
    font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
    color: #b3b3b1;
}